.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    background-color: var(--color-background);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.links-nav {
    display: flex;
    list-style: none;
}

.menu,
li {
    gap: 30px;
}

.menu,
li,
a {
    padding: 10px;
    text-decoration: none;
    color: var(--color-text);
    font-weight: 400;
    letter-spacing: .1rem;
}